@use "../../App.scss" as g;

.product-wrap {
    @include g.myFlex($ai: start);

    .product-img {
        width: 40%;

    }

    .product-text {

        button {
            padding: 20px
        }

        .product-size {
            ul {
                @include g.myFlex($gap: 10px, $jc: flex-start);
                li {
                    button { 
                        padding: 20px;
                        &.active {
                            background: #000;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}